In [ ]:
import pandas as pd

# Load the data from the CSV file
file_path= '/content/CleanZeroValDrop1.xlsx'
df = pd.read_excel(file_path)

# Apply conditions to filter out outliers
filtered_df = df[(df['plan_duration'] <= 200) & (df['actual_duration'] >= 0) & (df['actual_duration'] <= 500)]

# Save the cleaned data to a new Excel file
filtered_df.to_excel('/content/CleanZeroValDrop2.xlsx', index=False)

Data cleaned and saved to 'cleaned_data.csv'.

In [ ]:
import pandas as pd
from category_encoders import BinaryEncoder
from sklearn.preprocessing import LabelEncoder

# Load the data
df = pd.read_excel('/content/CleanZeroValDrop2.xlsx')

# Apply Binary Encoding to 'Dealer' and 'Employee'
encoder_binary = BinaryEncoder(cols=['Dealer', 'Employee'])
df_encoded = encoder_binary.fit_transform(df)

# Apply Label Encoding to 'job_type'
encoder_label = LabelEncoder()
df_encoded['job_type'] = encoder_label.fit_transform(df['job_type'])

# Save the DataFrame to a new Excel file
df_encoded.to_excel('/content/Encoded.xlsx', index=False)

print("Data has been encoded and saved to 'encoded_data.xlsx'.")

Data has been encoded and saved to 'encoded_data.xlsx'.

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the data
df = pd.read_excel('/content/CleanZeroValDrop2.xlsx')

# Apply One-Hot Encoding to 'Dealer' and 'Employee'
df_encoded = pd.get_dummies(df, columns=['Dealer', 'Employee'])

# Apply Label Encoding to 'job_type'
encoder_label = LabelEncoder()
df_encoded['job_type'] = encoder_label.fit_transform(df['job_type'])

# Save the DataFrame to a new Excel file
df_encoded.to_excel('/content/encoded1.xlsx', index=False)

print("Data has been encoded and saved to 'encoded1.xlsx'.")

In [ ]:
import pandas as pd

# Load the data
df = pd.read_excel('/content/CleanZeroValDrop2.xlsx')

print(df.columns)

Index(['Dealer', 'Employee', 'job_type', 'plan_duration', 'actual_duration',
       'actual_work', 'created_on_date_date', 'created_on_date_time',
       'assigned_on_date_date', 'assigned_on_date_time',
       'plan_start_date_date', 'plan_start_date_time', 'plan_finish_date_date',
       'plan_finish_date_time', 'act_start_date_date', 'act_start_date_time',
       'act_finish_date_date', 'act_finish_date_time'],
      dtype='object')

In [ ]:
# List of date-time pairs to combine
import pandas as pd

# Load the data
df = pd.read_excel('/content/CleanZeroValDrop2.xlsx')
date_time_pairs = [
    ('created_on_date_date', 'created_on_date_time'),
    ('assigned_on_date_date', 'assigned_on_date_time'),
    ('plan_start_date_date', 'plan_start_date_time'),
    ('plan_finish_date_date', 'plan_finish_date_time'),
    ('act_start_date_date', 'act_start_date_time'),
    ('act_finish_date_date', 'act_finish_date_time')
]

# Combine date and time columns into single datetime columns
for date_col, time_col in date_time_pairs:
    combined_col_name = date_col.replace('_date', '')  # New name for the combined column
    df[combined_col_name] = pd.to_datetime(df[date_col].astype(str) + ' ' + df[time_col].astype(str))
    df.drop([date_col, time_col], axis=1, inplace=True)  # Drop the original date and time columns

# Example of further datetime manipulation: Extract year, month, day, etc.
# You can extract these from any of the new datetime columns
df['year'] = df['created_on'].dt.year
df['month'] = df['created_on'].dt.month
df['day'] = df['created_on'].dt.day
df['hour'] = df['created_on'].dt.hour
df['minute'] = df['created_on'].dt.minute

# Save the processed data
df_encoded.to_excel('/content/preprocessed.xlsx', index=False)

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_excel('/content/preprocessed.xlsx')
 # Apply Label Encoding to 'job_type'
encoder_label = LabelEncoder()
df_encoded['job_type'] = encoder_label.fit_transform(df['job_type'])

# Save the DataFrame to a new Excel file
df_encoded.to_excel('/content/preprocessed1.xlsx', index=False)

In [ ]:
import pandas as pd

# Load the data
df = pd.read_excel('/content/preprocessed1.xlsx')  # Update the path to your file

In [ ]:
# Specify the format if the automatic parsing fails
date_format = '%Y-%m-%d %H:%M:%S'

# Combine date and time columns
df['created_on'] = pd.to_datetime(df['created_on_date_date'].astype(str) + ' ' + df['created_on_date_time'].astype(str), format=date_format)
df['assigned_on'] = pd.to_datetime(df['assigned_on_date_date'].astype(str) + ' ' + df['assigned_on_date_time'].astype(str), format=date_format)
df['plan_start'] = pd.to_datetime(df['plan_start_date_date'].astype(str) + ' ' + df['plan_start_date_time'].astype(str), format=date_format)
df['plan_finish'] = pd.to_datetime(df['plan_finish_date_date'].astype(str) + ' ' + df['plan_finish_date_time'].astype(str), format=date_format)
df['act_start'] = pd.to_datetime(df['act_start_date_date'].astype(str) + ' ' + df['act_start_date_time'].astype(str), format=date_format)
df['act_finish'] = pd.to_datetime(df['act_finish_date_date'].astype(str) + ' ' + df['act_finish_date_time'].astype(str), format=date_format)

# Drop the original date and time columns
df.drop(['created_on_date_date', 'created_on_date_time', 'assigned_on_date_date', 'assigned_on_date_time',
         'plan_start_date_date', 'plan_start_date_time', 'plan_finish_date_date', 'plan_finish_date_time',
         'act_start_date_date', 'act_start_date_time', 'act_finish_date_date', 'act_finish_date_time'], axis=1, inplace=True)

# Save the DataFrame to a new Excel file
df_encoded.to_excel('/content/preprocessed2.xlsx', index=False)
# Check the new dataframe
print(df.head())

   Dealer_0  Dealer_1  Dealer_2  Dealer_3  Dealer_4  Dealer_5  Dealer_6  \
0         0         0         0         0         0         0         1
1         0         0         0         0         0         0         1
2         0         0         0         0         0         0         1
3         0         0         0         0         0         0         1
4         0         0         0         0         0         0         1

   Employee_0  Employee_1  Employee_2  ...  job_type  plan_duration  \
0           0           0           0  ...        13              0
1           0           0           0  ...         8             24
2           0           0           0  ...         8             24
3           0           0           0  ...        11             24
4           0           0           0  ...        11             24

   actual_duration  actual_work          created_on         assigned_on  \
0              1.0          1.0 2018-01-13 13:27:00 2018-01-13 13:39:00
1              0.2          0.2 2018-01-15 11:14:00 2018-01-15 11:14:00
2              0.5          0.5 2018-01-16 10:20:00 2018-01-16 10:20:00
3              0.2          0.2 2018-01-17 10:01:00 2018-01-17 10:01:00
4              7.4          7.4 2018-01-17 14:46:00 2018-01-17 14:46:00

           plan_start         plan_finish           act_start  \
0 2018-01-13 13:27:00 2018-01-13 13:27:00 2018-01-13 13:45:00
1 2018-01-15 11:14:00 2018-01-16 11:14:00 2018-01-16 16:46:00
2 2018-01-16 10:20:00 2018-01-17 10:20:00 2018-01-16 12:07:00
3 2018-01-17 10:01:00 2018-01-18 10:01:00 2018-01-17 12:25:00
4 2018-01-17 14:46:00 2018-01-18 14:46:00 2018-01-17 14:46:00

           act_finish
0 2018-01-13 14:47:00
1 2018-01-16 16:59:00
2 2018-01-16 12:35:00
3 2018-01-17 12:37:00
4 2018-01-17 22:09:00

[5 rows x 28 columns]

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load the data (assuming previous steps are completed and saved to a new file)
df = pd.read_excel('/content/preprocessed2.xlsx')

# Initialize the StandardScaler
scaler = StandardScaler()

# Identify numerical columns - example based on typical data; adjust as necessary
# This example assumes you want to scale all columns except datetime
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Apply scaling
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

# Check the scaled data
print(df.head())

# Save the scaled data
df.to_excel('/content/preprocessed3.xlsx', index=False)

   Dealer_0  Dealer_1  Dealer_2  Dealer_3  Dealer_4  Dealer_5  Dealer_6  \
0 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155
1 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155
2 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155
3 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155
4 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155

   Employee_0  Employee_1  Employee_2  ...  assigned_on_date_date  \
0   -0.802487    -0.70414   -0.826832  ...             2018-01-13
1   -0.802487    -0.70414   -0.826832  ...             2018-01-15
2   -0.802487    -0.70414   -0.826832  ...             2018-01-16
3   -0.802487    -0.70414   -0.826832  ...             2018-01-17
4   -0.802487    -0.70414   -0.826832  ...             2018-01-17

   assigned_on_date_time  plan_start_date_date  plan_start_date_time  \
0               13:39:00            2018-01-13              13:27:00
1               11:14:00            2018-01-15              11:14:00
2               10:20:00            2018-01-16              10:20:00
3               10:01:00            2018-01-17              10:01:00
4               14:46:00            2018-01-17              14:46:00

   plan_finish_date_date  plan_finish_date_time  act_start_date_date  \
0             2018-01-13               13:27:00           2018-01-13
1             2018-01-16               11:14:00           2018-01-16
2             2018-01-17               10:20:00           2018-01-16
3             2018-01-18               10:01:00           2018-01-17
4             2018-01-18               14:46:00           2018-01-17

   act_start_date_time  act_finish_date_date  act_finish_date_time
0             13:45:00            2018-01-13              14:47:00
1             16:46:00            2018-01-16              16:59:00
2             12:07:00            2018-01-16              12:35:00
3             12:25:00            2018-01-17              12:37:00
4             14:46:00            2018-01-17              22:09:00

[5 rows x 34 columns]

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load the data
df = pd.read_excel('/content/preprocessed3.xlsx')

# Specify the format if the automatic parsing fails
date_format = '%Y-%m-%d %H:%M:%S'

# Combine date and time columns
df['created_on'] = pd.to_datetime(df['created_on_date_date'].astype(str) + ' ' + df['created_on_date_time'].astype(str), format=date_format)
df['assigned_on'] = pd.to_datetime(df['assigned_on_date_date'].astype(str) + ' ' + df['assigned_on_date_time'].astype(str), format=date_format)
df['plan_start'] = pd.to_datetime(df['plan_start_date_date'].astype(str) + ' ' + df['plan_start_date_time'].astype(str), format=date_format)
df['plan_finish'] = pd.to_datetime(df['plan_finish_date_date'].astype(str) + ' ' + df['plan_finish_date_time'].astype(str), format=date_format)
df['act_start'] = pd.to_datetime(df['act_start_date_date'].astype(str) + ' ' + df['act_start_date_time'].astype(str), format=date_format)
df['act_finish'] = pd.to_datetime(df['act_finish_date_date'].astype(str) + ' ' + df['act_finish_date_time'].astype(str), format=date_format)

# Drop the original date and time columns
df.drop([
    'created_on_date_date', 'created_on_date_time',
    'assigned_on_date_date', 'assigned_on_date_time',
    'plan_start_date_date', 'plan_start_date_time',
    'plan_finish_date_date', 'plan_finish_date_time',
    'act_start_date_date', 'act_start_date_time',
    'act_finish_date_date', 'act_finish_date_time'
], axis=1, inplace=True)

# Save the DataFrame to a new Excel file
df.to_excel('/content/processed4.xlsx', index=False)

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('/content/processed4.xlsx')
# Assuming df is your DataFrame and 'created_on' is a datetime column
df['created_on'] = pd.to_datetime(df['created_on'])
# Extracting standard time-based features
df['year'] = df['created_on'].dt.year
df['month'] = df['created_on'].dt.month
df['day'] = df['created_on'].dt.day
df['weekday'] = df['created_on'].dt.weekday  # Monday=0, Sunday=6
df['hour'] = df['created_on'].dt.hour
df['minute'] = df['created_on'].dt.minute
df['second'] = df['created_on'].dt.second
df['is_weekend'] = df['weekday'].isin([5, 6]).astype(int)  # 1 for weekend, 0 for weekdays
df['week_of_year'] = df['created_on'].dt.isocalendar().week  # Week of the year

# Encoding 'hour' as a cyclic feature
df['hour_sin'] = np.sin(2 * np.pi * df['hour']/24)
df['hour_cos'] = np.cos(2 * np.pi * df['hour']/24)

# Encoding 'month' as a cyclic feature
df['month_sin'] = np.sin(2 * np.pi * df['month']/12)
df['month_cos'] = np.cos(2 * np.pi * df['month']/12)

# Encoding 'day' as a cyclic feature (assuming up to 31 days per month)
df['day_sin'] = np.sin(2 * np.pi * df['day']/31)
df['day_cos'] = np.cos(2 * np.pi * df['day']/31)

# Encoding 'weekday' as a cyclic feature (7 days a week)
df['weekday_sin'] = np.sin(2 * np.pi * df['weekday']/7)
df['weekday_cos'] = np.cos(2 * np.pi * df['weekday']/7)
print(df.head())

   Dealer_0  Dealer_1  Dealer_2  Dealer_3  Dealer_4  Dealer_5  Dealer_6  \
0 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155
1 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155
2 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155
3 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155
4 -1.049048 -0.864957  -0.88694 -1.004894 -0.992457 -1.154276  1.181155

   Employee_0  Employee_1  Employee_2  ...  is_weekend  week_of_year  \
0   -0.802487    -0.70414   -0.826832  ...           1             2
1   -0.802487    -0.70414   -0.826832  ...           0             3
2   -0.802487    -0.70414   -0.826832  ...           0             3
3   -0.802487    -0.70414   -0.826832  ...           0             3
4   -0.802487    -0.70414   -0.826832  ...           0             3

   hour_sin  hour_cos  month_sin  month_cos   day_sin   day_cos  weekday_sin  \
0 -0.258819 -0.965926        0.5   0.866025  0.485302 -0.874347    -0.974928
1  0.258819 -0.965926        0.5   0.866025  0.101168 -0.994869     0.000000
2  0.500000 -0.866025        0.5   0.866025 -0.101168 -0.994869     0.781831
3  0.500000 -0.866025        0.5   0.866025 -0.299363 -0.954139     0.974928
4 -0.500000 -0.866025        0.5   0.866025 -0.299363 -0.954139     0.974928

   weekday_cos
0    -0.222521
1     1.000000
2     0.623490
3    -0.222521
4    -0.222521

[5 rows x 45 columns]